.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color:  #8989a0;
}


.alert-danger{
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success{
  color: #20a0a0;
  background-color: #eeffe0;
}

.alert-warning{
  color: #ffa500;
  background-color: #eeffe0;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
